
.highlight {
  border: blue 10px solid;
}

.container {
  text-align: center;
}

button {
  border-color: #990000;
  border: 25px;
  border-width: 25px;
}
h1 {
  font-family:Syncopate;
  float: right;
}
body {
  background-color: #FFFF99;
}
